@import "tailwindcss";

/* Disable dark mode influence */
html {
  color-scheme: light;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #0f172a; /* slate-900 */
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
